doctype html
html(lang="en")


	head
		//-//- Page Title
		block title
			title Default title


		//-//- Base Meta
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="author", content="Web Template")


		//-//- Custom Meta
		//- block custom-meta


		//-//- OG TAG
		//- block og
		//- 	meta(property="fb:app_id", content="")
		//- 	meta(property="fb:admins", content="")
		//- 	meta(property="og:title", content="")
		//- 	meta(property="og:url", content="")
		//- 	meta(property="og:site_name", content="")
		//- 	meta(property="og:description", content="")
		//- 	meta(property="og:description", content="")
		//- 	meta(property="og:type", content="")
		//- 	meta(property="og:image", content="")
		//- 	meta(property="og:image:width", content="")
		//- 	meta(property="og:image:height", content="")


		//-//- Framework Style
		//- link(rel="stylesheet", href="assets/vendors/bootstrap/css/bootstrap.min.css")


		//-//- Tools Style
		//- link(rel="stylesheet", href="")


		//-//- Font Style
		//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&subset=thai")


		//-//- Custom Style
		//- block custom-style
		//- 	link(rel="stylesheet", href="")


		//-//- Main Style
		//- block main-style
		//- 	link(rel="stylesheet", href="assets/style/stylesheet.css")


		//-//- Favicon
		//- link(rel="icon", type="image/png", href="assets/img/favicon.png")


		//-//- For IE
		//- <!--[if IE]>
		//- 	script(async, defer, src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		//- 	link(rel="stylesheet", href="")
		//- <![endif]-->


	//-//- Body
	block body
		body

			block wrapper
				//-//- Page Wrapper or App
				#page


					block header
						//-//- Include Master Header
						include master-header.pug


					//-//- Main Content
					block main


					block footer
						//-//- Include Master Footer
						include master-footer.pug


			//-//- Main Script
			block script
				//-//- Include Master Script
				include master-script.pug


			//-//- Custom Script
			block custom-script





