//- Mobile Nav
nav#site-mobile-navigation.site-mobile-navigation(role="navigation")
	.menu-main-container
		ul#mobile-menu.menu
			li: a(href="#", title="") Item 1
			li: a(href="#", title="") Item 2
			li: a(href="#", title="") Item 3
			li: a(href="#", title="") Item 4
			li: a(href="#", title="") Item 5

//- Header
header#masthead.site-header(role="banner")
	.container

		.site-branding
			.site-logo
				a(href="#", rel="home", title="") Logo
			p.site-title: a(href="#", rel="home", title="") Title
			p.site-description Description

		a.site-toggle(href="#", rel="home", title="") Menu

		//- Desktop Nav
		nav#site-desktop-navigation.site-desktop-navigation(role="navigation")
			.menu-main-container
				ul#primary-menu.menu
					li: a(href="#", title="") Item 1
					li: a(href="#", title="") Item 2
					li: a(href="#", title="") Item 3
					li: a(href="#", title="") Item 4
					li: a(href="#", title="") Item 5

