//-//- Use Master Template Base
extends master/master-base.pug


//-//- Page Title
block title
	title Template Index


block body
	//-//- Page Class
	body.home


		a.skip-link.screen-reader-text(href="#content") Skip to content


		block wrapper
			//-//- Page Wrapper
			#page


				block header
					//-//- Include Page Header
					include master/master-header.pug


				section#content.site-content
					//-//- Main Content
					main.main(role="main")
						block main
							.container

								h1 Content


				block footer
					//-//- Include Page Footer
					include master/master-footer.pug


		//-//- Main Script
		block script
			//-//- Include Master Script
			include master/master-script.pug


		//-//- Custom Script
		block custom-script
			//- script(src="")

